.d324-ace-frontend-links {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 1010;
  justify-content: space-between;
  pointer-events: none;
}
.d324-ace-frontend-links.d324-ace-frontend-layout-links {
  position: static;
  z-index: 1011;
  transition: all 0.5s ease;
}
.d324-ace-frontend-links.d324-ace-frontend-layout-links:hover {
  background: #eee;
}
.d324-ace-frontend-paragraph-wrapper:hover .d324-ace-frontend-links, .d324-ace-frontend-links.d324-ace-frontend-layout-links:hover {
  opacity: 1;
}
.d324-ace-frontend-links .d324-ace-paste {
  display: none;
}
.d324-ace-cut-paste .d324-ace-frontend-links .d324-ace-button {
  display: none;
}
.d324-ace-cut-paste .d324-ace-frontend-links .d324-ace-button.d324-ace-paste {
  display: block;
}
.d324-ace-cut-paste .d324-ace-cut-paste-disabled .d324-ace-frontend-links .d324-ace-button {
  display: none;
}

.d324-ace-frontend-paragraph-wrapper,
.d324-ace-frontend-layout-wrapper {
  position: relative;
  transition: all 0.5s ease;
}
.d324-ace-frontend-paragraph-wrapper .d324-ace-frontend-links-region,
.d324-ace-frontend-layout-wrapper .d324-ace-frontend-links-region {
  display: flex;
  padding: 0.25rem;
}
.d324-ace-frontend-paragraph-wrapper .d324-ace-frontend-links-top,
.d324-ace-frontend-layout-wrapper .d324-ace-frontend-links-top {
  top: 0.25rem;
}
.d324-ace-frontend-paragraph-wrapper:hover .d324-ace-frontend-links-top,
.d324-ace-frontend-layout-wrapper:hover .d324-ace-frontend-links-top {
  top: 0;
}
.d324-ace-frontend-paragraph-wrapper .d324-ace-frontend-links-bottom,
.d324-ace-frontend-layout-wrapper .d324-ace-frontend-links-bottom {
  bottom: 0.25rem;
}
.d324-ace-frontend-paragraph-wrapper:hover .d324-ace-frontend-links-bottom,
.d324-ace-frontend-layout-wrapper:hover .d324-ace-frontend-links-bottom {
  bottom: 0;
}
.d324-ace-frontend-paragraph-wrapper .d324-ace-frontend-links-region-left,
.d324-ace-frontend-layout-wrapper .d324-ace-frontend-links-region-left {
  justify-content: flex-start;
}
.d324-ace-frontend-paragraph-wrapper .d324-ace-frontend-links-region-center,
.d324-ace-frontend-layout-wrapper .d324-ace-frontend-links-region-center {
  justify-content: center;
  flex-basis: auto;
}
.d324-ace-frontend-paragraph-wrapper .d324-ace-frontend-links-region-right,
.d324-ace-frontend-layout-wrapper .d324-ace-frontend-links-region-right {
  justify-content: flex-end;
}

.d324-ace-button {
  position: relative;
  display: block;
  background: #fff;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.35s ease;
  z-index: 1030;
  pointer-events: all;
}
.d324-ace-button img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  object-position: center center;
  margin: 20%;
  display: block;
  opacity: 0.5;
  transition: all 0.35s ease;
}
.d324-ace-button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1031;
}
.d324-ace-button:hover img {
  height: 66%;
  width: 66%;
  margin: 17%;
  opacity: 0.85;
}

.d324-ace-frontend-paragraph-wrapper:hover {
  background-color: #eee;
}

.d324-ace-frontend-paragraph-wrapper.d324-ace-cut-paste-disabled {
  outline: 3px solid rgba(0, 0, 0, 0.1);
}
.d324-ace-frontend-paragraph-wrapper.d324-ace-cut-paste-disabled:after {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.d324-ace-frontend-add-type {
  align-items: center;
  margin: 1rem 0;
  position: relative;
}
.d324-ace-frontend-add-type input.image-button, .d324-ace-frontend-add-type input.image-button:focus {
  background: none !important;
  border: none;
  margin-right: 1em !important;
  object-fit: contain;
  object-position: 0 bottom;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.d324-ace-frontend-add-type input.image-button + span, .d324-ace-frontend-add-type input.image-button:focus + span {
  background: #eee !important;
  color: #000 !important;
  display: block;
  position: relative;
  margin-left: 3rem !important;
  padding: 0.5rem 0.75rem !important;
  font-size: 14px !important;
  pointer-events: none;
}
.d324-ace-frontend-add-type input.image-button:hover + span, .d324-ace-frontend-add-type input.image-button:focus:hover + span {
  background: #ddd !important;
}

div[data-ace-field-paragraph-layout-wrapper] div[data-ace-field-paragraph-region-wrapper] {
  transition: all 0.5s ease;
  outline: 1px dashed transparent;
  border-collapse: collapse;
  max-width: 100%;
}
div[data-ace-field-paragraph-layout-wrapper]:hover div[data-ace-field-paragraph-region-wrapper] {
  outline: 1px dashed rgba(0, 0, 0, 0.1);
}

.d324-ace-frontend-layout-links {
  display: flex;
  outline: 1px dashed transparent;
  transition: all 0.5s ease;
}
div[data-ace-field-wrapper]:hover .d324-ace-frontend-layout-links {
  outline: 1px dashed rgba(0, 0, 0, 0.1);
}
.d324-ace-frontend-layout-links .d324-ace-frontend-links-region {
  padding: 0;
}

/*# sourceMappingURL=d324-ace-frontend.paragraphs.css.map */
