// Code for using the image field as background.
.paragraph-background-wrapper {
  position: relative;

  .paragraph-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .paragraph-background-media-overlay {
      width: 100%;
      height: 100%;

      .media, .media img, .media picture, .media video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .paragraph-background-color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
